/*Text area*/
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

/* submit button */
input[type=submit] {
    background-color: #8B0000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*submit button hover feature*/
input[type=submit]:hover {
    background-color: #45a049;
}


.mainsection {
    width: 650px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 3px 3px 3px 3px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer {
   position: fixed;
   font-size: 18px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #666666;
   padding: 25px;
   border-color: #8B0000;
   border-style: solid;
   border-width: 5px 0px 0px 0px;
   color: black;
   text-align: center;
   font-family: font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
@media screen and (max-width: 980px) {
   body {
    }
    .background {
    width: 100%;
    height: 100%
    }
    .mainsection {
    width: 500px;
    margin-left: 40px;
    }
    .aside {
    width: 20%;
    margin-left: 60px;
    position: absolute;top:125px; bottom:0; right:0; left:580px;
    }
    .nav-bar {
      margin-right: 200px;
    }
    .title {
      position:absolute;top:10px; bottom:0; right:0; left:40px;
    }
  }
  @media screen and (max-width: 768px) {
     .nav-bar {
      margin-right: 200px;
    }
    .title {
      position:absolute;top:10px; bottom:0; right:0; left:40px;
    }
  }
  @media screen and (max-width: 640px) {
     .nav-bar {
      margin-right: 200px;
    }
    .title {
      position:absolute;top:10px; bottom:0; right:0; left:40px;
    }
  }
