
.background {
	background-image: url("../images/vintage-concrete.png"); 
	width: 100%;
	background-repeat:repeat;
	height: 1000px;
	position: relative; top:0px; bottom:0; right:0; left:0;
}


.boxtext {
	height: 40px;
	width: 200px;
	color: white;
	background-color: #8B0000;
	font-size: 30px;
	text-align: center;
	position:absolute; top:150px; bottom:0; right:0; left:0;
	
}
.mainsection {
	width: 650px;
	height: 750px;
	border-style: solid;
	border-color: #dddddd;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	position: absolute; top:125px; bottom:0px; right:0; left:0px;
}


.aside {
	background-color: white;
	border-style: solid;
	border-color: #dddddd;
	border-width: 3px 3px 3px 3px;
	position: absolute;top:145px; bottom:0; right:0; left:900px;
	padding-top: 20px;
	width: 250px;
	height: 170px;
	color: 	#8B0000;
	font-size: 24px;
	text-align: center;
	display: inline-table;
	float: right;
	padding-left: 10px;
	padding-right: 20px;
}

.cars {
	margin:0px 0px 50px 10px;
	width: 200px;
	height: 200px;
	background-image: url("../images/cars.jpg");
	background-repeat: no-repeat;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	
	}


.bugs {
	margin:0px 0px 50px 30px;
	width: 200px;
	height: 200px;
	background-image: url("../images/bugs.jpg");
	background-repeat: no-repeat;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

.cat {
	margin:0px 0px 50px 10px;
	width: 200px;
	height: 200px;
	background-image: url("../images/cat.jpg");
	background-repeat: no-repeat;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

.knobs {
	margin:0px 0px 50px 30px;
	width: 200px;
	height: 200px;
	background-image: url("../images/knobs.jpg");
	background-repeat: no-repeat;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}



.ipad {
	margin:0px 0px 0px 10px;
	width: 200px;
	height: 200px;
	background-image: url("../images/ipad.jpg");
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
}

body{
	width: 100%;
	height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position:absolute; top:0; bottom:0; right:0; left:0;
}

footer {
	padding-top: 8px;
	padding-bottom: 8px;
	height: 20px;
}


@media screen and (max-width: 980px) {
   body {
   	}
   	.background {
   	width: 100%;
   	height: 100%
   	}
   	.mainsection {
   	width: 500px;
   	margin-left: 40px;
   	}
   	.aside {
    width: 20%;
    margin-left: 60px;
   	position: absolute;top:125px; bottom:0; right:0; left:580px;
   	}
   	.nav-bar {
   		margin-right: 200px;
   	}
   	.title {
   		position:absolute;top:10px; bottom:0; right:0; left:40px;
   	}
  }
 @media screen and (max-width: 768px) {
     .nav-bar {
      margin-right: 200px;
    }
    .title {
      position:absolute;top:10px; bottom:0; right:0; left:40px;
    }
  }
  @media screen and (max-width: 640px) {
     .nav-bar {
      margin-right: 200px;
    }
    .title {
      position:absolute;top:10px; bottom:0; right:0; left:40px;
    }
  }
